.home__baner {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.home__baner img {
  position: fixed;
  top: 70px;
  width: 100%;
  height: 80%;
  object-fit: cover;
  z-index: -1;
}

.home__baner .title {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  letter-spacing: 2px;
  padding: 15px 0 15px 25px;
  position: absolute;
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  font-weight: 600;
  top: 60%;
  right: 10%;
}

.home__info {
  position: relative;
  background-color: white;
  min-height: 350px;
  width: 100%;
  top: 50%;
}

.home__infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 350px;
  font-size: 14px;
  line-height: 18px;
  color: rgb(100, 100, 100);
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

.ecoIcon {
  scale: 5;
  color: lightgrey;
  z-index: 1;
  margin-top: 20px;
}

.home__infoText {
  z-index: 2;
}

.home__infoText :first-child {
  width: 80%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}

.home__info h2 {
  text-transform: uppercase;
  color: lightgrey;
  font-weight: 600;
  font-size: 35px;
  line-height: 35px;
  padding-bottom: 20px;
}

.home__bottom {
  background-color: white;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.home__bottom .home__button {
  width: 200px;
  height: 40px;
  background-color: #7fc60d;
  color: white;
  line-height: 40px;
  border: none;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 2px;
  margin-right: 20%;
}

.home__button:hover {
  background-color: #499900;
}
